/* see https://www.rapidtables.com/web/css/css-color.html for color names */
.assign {
    -fx-fill: dimgray;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: slategray;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: dimgray;
    -fx-font-weight: bold;
}

.comment {
    /*-fx-fill: darkseagreen;*/
    -fx-fill: gray
}

.digit {
    /* -fx-fill:darkslateblue; */
    -fx-fill:navy;
}

.error {
    -fx-fill: red;
}

.function {
    -fx-font-style: italic;
}

.keyword {
    -fx-fill: mediumblue;
    /* -fx-font-weight: bold; */
}

.operator {
    /*-fx-fill: darkslategray;*/
    -fx-fill: dimgray;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.paren {
    -fx-fill: darkgray;
    -fx-font-weight: bold;
}

.console {
    -fx-font-family: consolas;
    -fx-font-size: 10pt;
}

.semicolon {
    -fx-font-weight: bold;
}

.string {
    -fx-fill: darkgreen;
}

.warning {
    -fx-fill: darkred;
}

.xml_tagmark {
    -fx-fill: gray;
}
.xml_anytag {
    -fx-fill: blue;
}
.xml_paren {
    -fx-fill: darkgray;
    -fx-font-weight: bold;
}
.xml_attribute {
    -fx-fill: black;
}
.xml_avalue {
    -fx-fill: darkgreen;
}

.xml_comment {
    -fx-fill: darkseagreen;
}