/* see https://www.rapidtables.com/web/css/css-color.html for color names */
.r_keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.r_digit {
    -fx-fill:mediumblue;
}

.r_assign {
    -fx-fill: dimgray;
}

.r_bracket {
    -fx-fill: dimgray;
}

.r_string {
    -fx-fill: green;
}

.r_comment {
    -fx-fill: darkseagreen;
}

.r_paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}