/* see https://www.rapidtables.com/web/css/css-color.html for color names */
.keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.digit {
    -fx-fill:mediumblue;
}

.assign {
    -fx-fill: dimgray;
}

.bracket {
    -fx-fill: dimgray;
}

.string {
    -fx-fill: green;
}

.comment {
    -fx-fill: darkseagreen;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}