.xml_tagmark {
    -fx-fill: gray;
}
.xml_anytag {
    -fx-fill: crimson;
}
.xml_paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.xml_attribute {
    -fx-fill: darkviolet;
}
.xml_avalue {
    -fx-fill: black;
}

.xml_comment {
    -fx-fill: darkseagreen;
}