.xml_tagmark {
    -fx-fill: gray;
}
.xml_anytag {
    -fx-fill: blue;
}
.xml_paren {
    -fx-fill: darkgray;
    -fx-font-weight: bold;
}
.xml_attribute {
    -fx-fill: black;
}
.xml_avalue {
    -fx-fill: darkgreen;
}

.xml_comment {
    -fx-fill: darkseagreen;
}